<%= form_for(@chao) do |f| %>
  <% if @chao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chao.errors.count, "error") %> prohibited this chao from being saved:</h2>

      <ul>
      <% @chao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
